ASP.NET Web Page/App_WebReferences/ServiceReference1/DeviceDetailsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://portmob.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://portmob.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://portmob.com/">
      <s:element name="GetDevice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeviceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDeviceResult" type="tns:SoapDevice" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SoapDevice">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDeviceSoapIn">
    <wsdl:part name="parameters" element="tns:GetDevice" />
  </wsdl:message>
  <wsdl:message name="GetDeviceSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeviceResponse" />
  </wsdl:message>
  <wsdl:portType name="DeviceDetailsServiceSoap">
    <wsdl:operation name="GetDevice">
      <wsdl:input message="tns:GetDeviceSoapIn" />
      <wsdl:output message="tns:GetDeviceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DeviceDetailsServiceSoap" type="tns:DeviceDetailsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDevice">
      <soap:operation soapAction="http://portmob.com/GetDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DeviceDetailsServiceSoap12" type="tns:DeviceDetailsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDevice">
      <soap12:operation soapAction="http://portmob.com/GetDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeviceDetailsService">
    <wsdl:port name="DeviceDetailsServiceSoap" binding="tns:DeviceDetailsServiceSoap">
      <soap:address location="http://localhost:1189/PortMob/Services/DeviceDetailsService.asmx" />
    </wsdl:port>
    <wsdl:port name="DeviceDetailsServiceSoap12" binding="tns:DeviceDetailsServiceSoap12">
      <soap12:address location="http://localhost:1189/PortMob/Services/DeviceDetailsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>